## <summary>Policy</summary>
## <desc>
##	<p>
##		This creates a sandbox for the server allows for a client
##	    to connect to the server.
##	</p>
##	<p>
##		
##		
##	</p>
## </desc>
#
